
bin/
obj/
out/
publish/
artifacts/

*.suo
*.user
*.userosscache
*.sln.docstates

.vs/

.idea/
*.sln.iml

.vscode/

*.log
logs/

.DS_Store
Thumbs.db

Migrations/*.Designer.cs
*.dbmdl

appsettings.Development.json
appsettings.Local.json
secrets.json

**/Properties/launchSettings.json

node_modules/
build/
dist/
.next/
.env
.env.local

docker-compose.override.yml
.env

TestResults/
coverage/
*.coverage

*.tmp
*.cache
